#ModalSplashScreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: grid;
    align-items: center;
    justify-items: center;
}

#ModalSplashScreen .ModalDisplay {
    background: white;
    width: 60%;
}

.ModalDisplay button {
    float: right;
}
