.year-picker button {
    font-size: 20px;
    height:30px;
    border: none;
    color:white;
    background-color:inherit;
}

.year-picker .active {
    background-color:white;
    color: steelblue;
    border-radius:20px;
    font-weight: 500;
}
